# Byte‑compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Conda / virtualenv environments
env/
venv/
smsml/
.conda/
*.egg-info/

# macOS
.DS_Store

# Logs
*.log
logs/

# MLflow local database
mlflow.db

# SpaCy model wheels
en_core_web_sm-*.whl

# addition
membangun_model/